
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
}

:root {
    --primary-color: #457b9d;
    --white: white;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
    --projects: #06395896;
}

.pagewrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.navbar .icon {
    font-size: 25px;
    color: var(--white);
    display: none;
}

.navbar {
    box-sizing: border-box;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem 0.5rem 0rem;
}

.lists {
    list-style: none;
}

.lists li {
    font-size: 25px;
    padding-inline: 2rem;
    padding-inline-start: 0rem;
    display: block;
    float: left;
}

.link {
    text-decoration: none;
    color: var(--white);
}

.active {
    font-weight: 700;
}

.is-triangle {
    margin-top: 3rem;
    text-align: center;
}

.is-triangle p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: large;
    font-weight: bold;
}

.is-triangle label{
    text-align: center;
    font-size: 20px;
    margin: 2rem;
}

.is-triangle input{
    padding: 0.5rem;
    text-align: center;
    width: 80%;
    max-width: 300px;
    margin: auto;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
}

.btn{
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 10px;
    color: var(--white);
    padding: 0.5rem;
    font-size: 18px;
    margin-top: 1.5rem;
    cursor: pointer;
}

.output {
    display: none;
}

.quiz-main{
    margin-top: 3rem;
    text-align: center;
}

.quiz-main p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: large;
    font-weight: bold;
}

.question-container {
    padding: 1rem;
    margin-top: 2rem;
    font-size: 18px;
}

.question-container p {
    margin-bottom: 0.5rem;
}

.question-container label {
    padding-inline-start: 0rem;
    padding-inline: 0.5rem;
    cursor: pointer;
}

.question-container input {
    cursor: pointer;
    margin: 0rem 0rem;
}
